.app.dark {
  --bg-color: #101172;
  --inverted-bg-color: #d8d8df;
  --primary-color: #049604;
  --secondary-color: #04ff04;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #3f75f3;
}
