:root {
  --bg-color: #d8d8df;
  --inverted-bg-color: #101172;

  --primary-color: #0232c2;
  --secondary-color: #0449e4;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
  --red: #f01b1b;
}
