:root {
  --bg-color: #d8d8df;
  --inverted-bg-color: #090949;
  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inverted-primary-color: #15ba15;
  --inverted-secondary-color: #128012;
  --red: #f01b1b;
}
