.ProfileCard {
  padding: 20px;
  border: 4px solid var(--inverted-bg-color);
  width: 100%;
}

.input {
  margin-top: 10px;
}

.loading,
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.avatarWrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}

.editing {
  border: 4px solid var(--inverted-primary-color);
}
